
@media screen and (max-width:1600px){
	.container {
		max-width: calc(100% - 140px);
	}
	.banner-content h1 {
		font-size: 78px;
	}
	.section-title {
		font-size: 64px;
	}
	.ai-powered-cameras .section-title, .effortless-security .section-title {
		font-size: 76px;
	}
	.automate-page .vertical-feature-card-container .section-title {
		font-size: 76px;
	}
	.text-img-sec .gray-graditent {
		font-size: 74px;
	}
	.sub-title {
		font-size: 28px;
	}
	.banner-content h3 {
		font-size: 28px;
	}
	.btm-content p{
		font-size: 28px;
	}
	.ai-powered-cameras .btm-content h3 {
		font-size: 28px;
	}
	.top_box p {
		font-size: 28px;
	}
	.diy-products .icon-with-text {
		padding: 40px;
	}
	.diy-products {
		grid-gap: 24px;
	}
	.text h4 {
		font-size: 28px;
	}
	.vertical-feature-card .text-content h4 {
		font-size: 28px;
	}
	.top_box {
		margin: -120px auto 0;
	}
	.network-comparison .comparison-header .section-title {
		font-size: 58px;
	}
	.comparison-row > div {
		padding: 22px 32px;
	}
	.banner-content h5 {
		font-size: 58px;
	}
	.top_box > h3 {
		font-size: 48px;
	}
	.text-img-sec h4.section-title {
		font-size: 38px;
	}
	.vertical-common-layout .vertical-feature-card-container {
		row-gap: 44px;
	}
	.vertical-common-layout.vertical-space {
		gap: 124px;
	}
	.text-img-sec .section-title {
		margin-bottom: 44px;
	}
	
}
@media screen and (max-width:1400px){
	.container {
		max-width: calc(100% - 80px);
	}
	.primary-btn {
		padding: 20px 32px 20px 32px;
		font-size: 18px;
	}
	.site-banner .grid {
		grid-template-columns: 1.2fr 1fr;
	}
	.banner-content h1 {
		font-size: 68px;
	}
	.section-title {
		font-size: 58px;
	}
	.ai-powered-cameras .section-title, .effortless-security .section-title {
		font-size: 64px;
	}
	.automate-page .vertical-feature-card-container .section-title {
		font-size: 64px;
	}
	.sub-title {
		font-size: 24px;
	}
	.banner-content h3 {
		font-size: 24px;
	}
	.ai-camera-content > h3 {
		font-size: 24px;
	}
	.btm-content p{
		font-size: 24px;
	}
	.ai-powered-cameras .btm-content h3 {
		font-size: 24px;
	}
	.top_box p {
		font-size: 24px;
	}
	.diy-products .icon-with-text {
		padding: 30px;
		gap: 24px;
	}
	p {
		font-size: 22px;
	}
	.text-img-content h6 {
		font-size: 22px;
	}
	.text-img-content .icon-with-text .text p {
		font-size: 22px;
	}
	.icon {
		width: 100px;
		height: 100px;
		min-width: 100px;
	}
	.icon img {
		max-width: 40px;
	}
	.text h4 {
		font-size: 24px;
	}
	.vertical-feature-card .text-content h4 {
		font-size: 24px;
	}
	.top_box {
		margin: -90px auto 0;
	}
	.banner-content {
		padding-bottom: 124px;
	}
	.banner-content {
		padding: 200px 0 150px;
	}
	.network-comparison .comparison-header .section-title {
		font-size: 54px;
	}
	.comparison-row > div {
		padding: 15px 35px;
	}
	.network-comparison p {
		font-size: 20px;
	}
	.banner-content > span {
		font-size: 22px;
	}
	.text-img-content > span {
		font-size: 22px;
	}
	.text-img-sec .gray-graditent {
		font-size: 64px;
	}
	.banner-content h5 {
		font-size: 48px;
	}
	.top_box > h3 {
		font-size: 38px;
	}
	.text-img-sec h4.section-title {
		font-size: 34px;
	}
	.vertical-common-layout .vertical-feature-card-container {
		row-gap: 38px;
	}
	.vertical-common-layout.vertical-space {
		gap: 84px;
		padding: 64px 0;
	}
	.text-img-sec .section-title {
		margin-bottom: 24px;
	}

}
@media screen and (max-width:1200px) {
	.container {
		max-width: calc(100% - 40px);
	}
	.site-header .container{
		display: flex;
	}

	.site-nav {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		max-width: 350px;
		background: var(--black);
		transition: 0.4s cubic-bezier(0, 0, 0.13, 0.61);
		transform: translateX(-100%);
		z-index: 99;
		border: 1px solid;
		border-image-source: linear-gradient(190deg, #445DF4 0%, #DA5870 100%);
		border-image-slice: 1;
	}

	.site-nav ul {
		display: block;
		padding: 100px 60px;
	}

	.site-nav li {
		margin: 0 0 20px;
	}

	.menu-toggle {
		display: block;
	}

	.closed-menu {
		font-size: 40px;
		color: #fff;
		position: absolute;
		top: 25px;
		right: 15px;
		display: inline-block;
	}

	.toggle .site-nav {
		transform: translateX(0);
	}

	.site-logo img {
		max-width: 180px;
	}

	.site-header-right {
		text-align: right;
		margin-left: auto;
		margin-right: 30px;
	}
	.site-nav li.mobile-btn {
		display:block;
	}

	.primary-btn {
		padding: 16px 28px 16px 28px;
		font-size: 16px;
	}

	.section-title {
		font-size: 52px;
	}
	.banner-content h1 {
		font-size: 64px;
	}
	.ai-powered-cameras .section-title, .effortless-security .section-title {
		font-size: 60px;
	}
	.automate-page .vertical-feature-card-container .section-title {
		font-size: 60px;
	}
	.text-img-sec .gray-graditent {
		font-size: 52px;
	}
	.text-img-content h3.section-title {
		font-size: 40px;
	}
	.banner-content p {
		font-size: 20px;
	}
	.banner-content > span {
		font-size: 20px;
	}
	.icon {
		width: 80px;
		height: 80px;
		min-width: 80px;
	}
	.icon img {
		max-width: 30px;
	}
	.diy-products {
		grid-gap: 20px;
	}
	.diy-products .icon-with-text {
		gap: 20px;
	}
	.text h4 {
		font-size: 22px;
	}
	.vertical-feature-card .text-content h4 {
		font-size: 22px;
	}
	.ai-powered-cameras .advance-ai-feature .section-title {
		font-size: 40px;
	}
	.top_box {
		margin: 40px auto 0;
		padding: 64px;
	}
	.smart-sensons-features-list li span {
		font-size: 20px;
	}
	.banner-content {
		padding-bottom: 124px;
	}
	.modular-scalable {
		padding: 84px 0;
	}
	.effortless-security {
		padding: 84px 0;
	}
	.smart-doors .container {
		padding-bottom: 84px;
	}
	.diy-pro {
		padding: 64px 0 84px;
	}
	.network-comparison .comparison-header .section-title {
		font-size: 50px;
		max-width: 30%;
		margin: 0 auto;
	}
	.text-img-content > span {
		font-size: 20px;
	}
	.banner-content h5 {
		font-size: 42px;
	}
	.top_box > h3 {
		font-size: 32px;
	}
	.text-img-sec h4.section-title {
		font-size: 30px;
		margin-bottom: 32px;
	}
	.vertical-common-layout .vertical-feature-card-container {
		row-gap: 32px;
	}
	.vertical-common-layout .vertical-feature-card-container {
		row-gap: 32px;
	}
	.vertical-common-layout.vertical-space {
		gap: 64px;
		padding: 44px 0;
	}
	.vertical-common-layout {
		padding-bottom: 44px;
		gap: 44px;
	}

}

@media screen and (max-width:991px){
	p {
		font-size: 20px;
	}
	.container {
		max-width: calc(100% - 30px);
	}
	.site-banner {
		margin-bottom: 84px;
	}
	.site-banner .grid {
		grid-template-columns: 100%;
	}
	.site-banner .container {
		margin: 0 auto;
	}

	.banner-content {
		padding: 84px 0;
		margin-top: 125px;
	}
	.banner-content h1 {
		font-size: 58px;
	}
	.banner-img {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
	}
	.banner-img img {
		width: 100%;
	}
	.grid-cols-2 {
		grid-template-columns:100%;
	}
	.sec-sticky {
		position:static;
	}
	.section-title {
		font-size: 48px;
		text-wrap: balance;
	}
	.ai-powered-cameras .section-title , .effortless-security .section-title{
		font-size: 54px;
	}
	.automate-page .vertical-feature-card-container .section-title {
		font-size: 54px;
	}
	.text-img-sec .gray-graditent {
		font-size: 48px;
	}
	.sub-title {
		font-size: 22px;
	}
	.ai-camera-content > h3 {
		font-size: 22px;
	}
	.text-img-content .icon-with-text .text p {
		font-size: 20px;
	}
	
	.btm-content p{
		font-size: 22px;
	}
	.ai-powered-cameras .btm-content h3 {
		font-size: 22px;
	}
	.top_box p {
		font-size: 22px;
	}
	.banner-content h3 {
		font-size: 22px;
	}
	.diy-products .icon-with-text {
		padding: 20px;
	}
	.text p {
		font-size: 18px;
	}
	.vertical-feature-card .text-content h4 {
		font-size: 20px;
	}
	.vertical-feature-card .text-content p {
		font-size: 18px;
	}
	.vertical-feature-card-container {
		gap: 20px;
	}
	.vertical-feature-card {
		width: calc(100% / 3 - 20px);
	}
	.ai-powered-cameras-img {
		margin-bottom: 0;
	}
	.ai-powered-cameras .advance-ai-feature .section-title {
		font-size: 36px;
	}
	.effortless-security .text-img-content {
		margin-left:0;
	}
	.modular-scalable .text-img-content {
		margin-left: 0;
	}
	.top_box {
		padding: 44px;
	}
	.smart-sensons-features-list ul {
		gap: 24px;
	}
	.smart-sensons-features-list li span {
		font-size: 18px;
	}
	.text-img-content h3.section-title {
		font-size: 36px;
	}
	.internal-page .banner-img {
		width: 100%;
	}
	.internal-page .banner-img img {
		margin-left: 0;
	}
	.vertical-common-layout .text-img-sec:nth-child(odd) .text-img-content {
		margin-left:0;
	}
	.vertical-common-layout .text-img-sec:nth-child(even) .grid .item:last-child {
		grid-area: auto;
	}
	.vertical-common-layout.resverse-columns .text-img-sec:nth-child(odd) .grid .item:last-child {
		grid-area: auto;
	}
	.vertical-common-layout.resverse-columns .text-img-sec:nth-child(even) .text-img-content {
		margin-left:0;
	}
	.network-comparison .comparison-header .section-title {
		font-size: 42px;
	}
	.comparison-header {
		gap: 8px;
	}
	.vs span {
		width: 40px;
		height: 40px;
		font-size: 14px;
	}
	.banner-content h5 {
		font-size: 38px;
	}
	.top_box > h3 {
		font-size: 28px;
	}
	.text-img-sec h4.section-title {
		font-size: 28px;
		margin-bottom: 24px;
	}
	.vertical-common-layout .vertical-feature-card-container {
		row-gap: 24px;
	}
	.text-img-content h6 {
		font-size: 20px;
	}
	.vertical-common-layout .vertical-feature-card-container {
		row-gap: 28px;
	}
	.vertical-common-layout.vertical-space {
		gap: 34px;
	}
	.vertical-common-layout {
		padding-bottom: 34px;
		gap: 34px;
	}
	.text-img-sec .gray-graditent br {
		display: none;
	}
}

@media screen and (max-width:768px){
	p {
		font-size: 18px;
	}
	.text-img-content .icon-with-text .text p {
		font-size: 18px;
	}
	.site-logo img {
		max-width: 160px;
	}
	.banner-content h1 {
		font-size: 52px;
	}
	.banner-content {
		padding: 64px 0;
		margin-top: 94px;
	}
	.btm-content p {
		font-size: 20px;
	}
	.site-banner {
		margin-bottom: 54px;
	}
	.heading-deatils {
		margin: 0 auto 44px;
	}
	.section-title {
		font-size: 42px;
	}
	.primary-btn {
		padding: 12px 24px 12px 24px;
	}
	.ai-powered-cameras .section-title, .effortless-security .section-title {
		font-size: 48px;
	}
	.automate-page .vertical-feature-card-container .section-title {
		font-size: 48px;
	}
	.text-img-sec .gray-graditent {
		font-size: 44px;
	}
	.sub-title {
		font-size: 20px;
	}
	.ai-powered-cameras .btm-content h3 {
		font-size: 20px;
	}
	.top_box p {
		font-size: 20px;
	}
	.ai-camera-content > h3 {
		font-size: 20px;
	}
	.banner-content h3 {
		font-size: 20px;
	}
	.vertical-feature-card {
		width: calc(100% / 2 - 20px);
	}
	.smart-doors .vertical-feature-card {
		width: calc(100% / 2 - 20px);
	}
	.ai-powered-cameras .advance-ai-feature .section-title {
		font-size: 32px;
	}
	.top_box {
		padding: 24px;
	}
	.diy-products {
		grid-template-columns: 100%;
	}
	.icon {
		width: 65px;
		height: 65px;
		min-width: 65px;
	}
	.icon img {
		max-width: 25px;
	}
	.diy-products .icon-with-text {
		gap: 16px;
	}
	.smart-sensons-features-list li span {
		font-size: 16px;
	}
	.smart-sensons-features-list ul li p {
		font-size: 16px;
	}
	.smart-sensons-features > img {
		display: none;
	}
	.smart-sensons-features-list {
		position: static;
		transform: translate(0, 0);
		background-image: url("../images/smart-sensors.png");
		background-position: center;
		background-size: cover;
		padding: 40px 0;
	}
	.text-img-sec .section-title {
		margin-bottom: 44px;
	}
	.text-img-content h3.section-title {
		font-size: 32px;
	}
	.effortless-security {
		padding: 64px 0;
	}
	.smart-doors .container {
		padding-bottom: 64px;
	}
	.network-comparison .comparison-header .section-title {
		font-size: 38px;
	}
	/* .comparison-row {
		grid-template-columns: 100%;
	} */
	.comparison-row > div {
		padding: 30px 15px;
	}
	/* .network-comparison .vs {
		position: static;
		transform: translate(0, 50%);
		margin-top: -40px;
		text-align: center;
	} */
	.vs span {
		margin: 0 auto;
	}
	.ai-powered-cameras {
		padding-bottom: 64px;
	}
	.network-comparison {
		padding: 64px 0 0;
	}
	.banner-content h5 {
		font-size: 34px;
	}
	.top_box > h3 {
		font-size: 24px;
	}
	.text-img-sec h4.section-title {
		font-size: 26px;
	}
	.text-img-content h6 {
		font-size: 18px;
	}
	.vertical-common-layout .vertical-feature-card-container {
		row-gap: 24px;
	}
}

@media screen and (max-width:575px){
	.site-logo img {
		max-width: 140px;
	}
	.site-nav {
		max-width: 100%;
	}
	.banner-content h1 {
		font-size: 44px;
	}
	.section-title {
		font-size: 36px;
	}
	.primary-btn {
		padding: 10px 20px 10px 20px;
		font-size: 14px;
	}
	.site-header-right {
		display: none;
	}
	.site-banner {
		margin-bottom: 34px;
	}
	.ai-powered-cameras .section-title, .effortless-security .section-title {
		font-size: 38px;
	}
	.automate-page .vertical-feature-card-container .section-title {
		font-size: 38px;
	}
	.text-img-sec .gray-graditent {
		font-size: 38px;
	}
	.sub-title {
		font-size: 18px;
	}
	.banner-content h3 {
		font-size: 18px;
	}
	.ai-camera-content > h3 {
		font-size: 18px;
	}
	.vertical-feature-card {
		width: 100%;
	}
	.smart-doors .vertical-feature-card {
		width: 100%;
	}
	.ai-powered-cameras .advance-ai-feature .section-title {
		font-size: 28px;
	}
	.text h4 {
		font-size: 20px;
	}
	.text-img-content h3.section-title {
		font-size: 28px;
	}
	.top_box {
		padding: 16px;
	}
	.top_box p {
		font-size: 18px;
	}
	.effortless-security {
		padding: 44px 0;
	}
	.smart-doors .container {
		padding-bottom: 44px;
	}
	.network-comparison .comparison-header .section-title {
		font-size: 32px;
		max-width: 40%;
	}
	.comparison-header {
		margin-bottom: 24px;
	}
	.vertical-common-layout {
		padding-bottom: 30px;
		gap: 30px;
	}
	.ai-powered-cameras {
		padding-bottom: 44px;
	}
	.network-comparison {
		padding: 44px 0 0;
	}
	.btn-details {
		margin: 44px 0;
	}
	.network-comparison p {
		font-size: 18px;
	}
	.banner-content h5 {
		font-size: 28px;
	}
	.top_box > h3 {
		font-size: 22px;
	}
	.text-img-sec h4.section-title {
		font-size: 24px;
	}
	.vertical-common-layout .vertical-feature-card {
		flex-wrap: wrap;
		gap: 0;
		justify-content: center;
	}
	.text-img-sec h4.section-title {
		text-align: center;
	}
	.vertical-feature-card .text-content h4 {
		text-align: center;
	}
	.vertical-feature-card .text-content p {
		text-align: center;
	}
	.text-img-sec .section-title {
		margin-bottom: 24px;
	}
	.text-img-content > span {
		font-size: 18px;
	}
	.vs span {
		width: 32px;
		height: 32px;
		font-size: 12px;
	}
	.comparison-row .left {
		padding-left: 5px;
	}
	.comparison-row .right {
		padding-right: 5px;
	}
}

@media screen and (max-width:480px){
	.banner-content h1 {
		font-size: 34px;
	}
	.section-title {
		font-size: 30px;
	}
	.banner-content p {
		font-size: 18px;
	}
	.icon-with-text {
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	.text h4 {
		font-size: 18px;
		text-align: center;
	}
	.text p {
		font-size: 16px;
		text-align: center;
	}
	.icon {
		width: 60px;
		height: 60px;
		min-width: 60px;
	}
	.icon img {
		max-width: 20px;
	}
	.smart-sensons-features-list li span {
		line-height: 1;
		padding: 8px 20px 8px 20px;
		font-size: 14px;
	}
	.smart-sensons-features-list ul li p {
		font-size: 14px;
	}
	.network-comparison .comparison-header .section-title {
		font-size: 26px;
	}
	.ai-powered-cameras .section-title, .effortless-security .section-title {
		font-size: 34px;
	}
	.automate-page .vertical-feature-card-container .section-title {
		font-size: 34px;
	}
	.text-img-sec .gray-graditent {
		font-size: 34px;
	}
	.network-comparison p {
		font-size: 16px;
	}
	.text-img-sec h4.section-title {
		font-size: 22px;
	}
	.site-banner {
		margin-bottom:0;
	}
}