/*global start*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

:root {
   
    --black:#171325;
    --gray:#E8E8E8;
    --helvetica:'Helvetica Neue';
    --roboto:"Roboto", sans-serif;
    
}
body {
    font-family: var(--helvetica);
    background: var(--black);
    background-image: radial-gradient(rgba(237, 237, 237, 0.09) 2px, transparent 2px);
    /* background-size: 32px 32px; */
    background-color: #171325;
    background-image: url("../images/body-shape.png");
}
html {
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

a:hover {
    color: inherit;
}

p {
    color: #fff;
font-family: 'Helvetica Neue';
    margin: 0;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -0.02em;
    font-weight: 300;
}

img,
video {
    max-width: 100%;
}

span {
    display: inline-block;
}
summary {
    list-style-type: none;
}

figure{
    margin:0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family:var(--helvetica);
    color: var(--black);
}

.container {
    width: 100%;
    /* max-width: 1743px; */
    max-width: calc(100% - 248px);
    margin: 0 auto;
    padding: 0; 
}

.grid {
    display: grid;
}

.grid-cols-2 {
    grid-template-columns: 1fr 1fr;
}

.grid-cols-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid-cols-5 {
    grid-template-columns: repeat(5, 1fr);
}

.grid-cols-6 {
    grid-template-columns: repeat(6, 1fr);
}

.item {
    width: 100%;
}
.grid-span-2 {
    grid-column: span 2;
}
.mobile-menu {
    display: none;
}

#main {
    border-width: 0 1px;
    position: relative;
    margin: 0 auto;
}


/* site btns */
.primary-btn {
    padding: 24px 36px 24px 36px;
    color: #fff;
    background: var(--black);
    line-height: 22px;
font-family: 'Helvetica Neue';
    font-weight: 300;
    transition: all 0.2s linear;
    display: inline-block;
    position: relative;
    font-size: 20px;
    letter-spacing: -0.02em;
    border-radius: 4px;
    border: 1px solid rgb(255 255 255 / 10%);
}

.primary-btn::before, .corner-border::before,
.primary-btn::after, .corner-border::after {
  content: '';
  position: absolute;
  width: 15.5px;
  height: 15.5px;
  border: 1px solid white;
  transition: 0.3s;
}

.primary-btn::before {
  top: -1px;
  left: -1px;
  border-right: none;
  border-bottom: none;
  border-top-left-radius: 4px;
}

.primary-btn::after {
  bottom: -1px;
  right: -1px;
  border-left: none;
  border-top: none;
  border-bottom-right-radius: 4px;
}


.corner-border::before {
    bottom: -1px;
    left: -1px;
    border-right: none;
    border-top: none;
    border-bottom-left-radius: 4px;
}
  
.corner-border::after {
    top: -1px;
    right: -1px;
    border-left: none;
    border-bottom: none;
    border-top-right-radius: 4px;
}

.primary-btn-inner {
    overflow: hidden;
    position: relative;
}
.primary-btn-inner::before {
    content: "";
    background: #171325;
    width: 31px;
    height: 55px;
    position: absolute;
    left: 0px;
    top: -15px;
    filter: blur(10px);
    animation: slideBlur 2s linear infinite;
}

  @keyframes slideBlur {
    0% {
      left: 0%;
    }
    100% {
      left: 100%;
      
    }
  }
  
  
.primary-btn .normal-state {
    background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0.2) 100%
  );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: shine 3s linear infinite;
    background-size: 200% auto;
    color: #fff;
}

/* @keyframes shine {
    0% {
      background-position: 200% center;
    }
    100% {
      background-position: -100% center;
    }
  } */


.primary-btn .hover-state {
    position: absolute;
    inset: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
}

.primary-btn span {
    display: block;
    transition: all 0.2s linear;
    color: #fff;
}

.primary-btn:hover .normal-state {
    transform: translateY(-100%);
}

.primary-btn:hover .hover-state {
    transform: translateY(0);
}

.primary-btn:hover::before {
    left: 8px;
    top: 8px;
}
.primary-btn:hover::after {
    right: 8px;
    bottom: 8px;
}
.primary-btn:hover .corner-border::before {
    bottom: 8px;
    left: 8px;
}
.primary-btn:hover .corner-border::after {
    top: 8px;
    right: 8px;
}

.primary-btn:hover {
    border: 1px solid rgb(255 255 255 / 40%);
    box-shadow: 0px 4px 72px 0px rgba(255, 255, 255, 0.25);
}
/* site btns  */
/*header start*/
.site-header {
    background: transparent;
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99;
}
.site-header .container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    border-bottom: 1px dashed rgba(255 255 255 /30%);
}

.site-logo img {
    max-width: 227px;
}

.site-nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.site-nav li a {
    color: #FFF;
    position: relative;
    transition: all 0.2s linear;
font-family: 'Helvetica Neue';
    font-size: 18px;
    font-weight: 300;
    line-height: normal;
}
/* .site-nav li a:hover {
    background: linear-gradient(90deg, #445DF4 0%, #DA5870 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
} */

.site-nav li a.active {
    background: linear-gradient(90deg, #445DF4 0%, #DA5870 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.site-nav li a::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #445DF4 0%, #DA5870 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.site-nav li a:hover {
    color: transparent;
}

.site-nav li a:hover::after {
    opacity: 1;
}

  
.closed-menu a {
    width: 40px;
    aspect-ratio: 1;
}

.site-header-right {
    text-align: right;
}

.site-nav li.mobile-btn {
    display: none;
}

.menu-toggle{
    display: none;
}

.menu-toggle .bar-1, .bar-2, .bar-3 {
    width: 40px;
    height: 2px;
    background-color: #fff;
    margin: 8px 0;
    transition: all 0.3s linear;
    display: block;
}

.closed-menu{
    display: none;
}
/*header end*/ 

.heading-deatils {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 64px;
    text-align: center;
}

.section-title {
    margin-bottom: 24px;
    background: linear-gradient(90deg, #445DF4 0%, #DA5870 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-transform: capitalize;
    font-size: 72px;
    line-height: 110%;
    letter-spacing: -0.02em;
    font-weight: 300;
}
span.highlight {
    color: var(--orange);
}
.sub-title {
    color: #fff;
    font-family: 'Helvetica Neue';
    margin: 0;
    font-weight: 300;
    font-size: 32px;
    line-height: 140%;
    letter-spacing: -1px;
}


/* site banner start  */
.site-banner {
    position: relative;
    isolation: isolate;

}

.site-banner .grid {
    grid-template-columns: 1.5fr 1fr;
    gap: 20px;
}

.banner-img img {
    width: calc(100% + 160px);
    height: 100%;
    object-fit: cover;
    display: block;
    max-width: none;
}
.site-banner .container {
    height: 100%;
    margin-left: 0;
}
.site-banner-warp {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}


.banner-curve-shape {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}
.banner-video {
    height: 100%;
}

.banner-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner-content {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 200px 0;
}
.banner-content h1 {
    text-wrap: balance;
    margin: 0 0 52px;
    background: linear-gradient(90deg, #445DF4 0%, #DA5870 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-transform: capitalize;
    font-size: 96px;
    line-height: 120%;
    letter-spacing: -0.02em;
    font-weight: 300;
}

.banner-content p {
    color: #fff;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -0.02em;
    font-weight: 400;
}
.banner-content .primary-btn {
    margin-top: 52px;
}
.banner-overlay-shape {
    width: 100%;
    height:100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(26, 26, 26, 0.00) 0%, #1A1A1A 100%);
}
/* site banner end */
/* text-img-sec start  */

.text-img-sec .grid {
    grid-gap: 15px;
    align-items: start;
}

.text-img-content {
    max-width: 720px;
}
.text-img-img img {
    width: 100%;
}
.icon-with-text {
    display: flex;
    align-items: center;
    gap: 32px;
}

.text-img-sec .section-title {
    margin-bottom: 64px;
}

.text-img-content .sub-title:not(:last-child) {
    margin-bottom: 32px;
}
.text-img-content .icon-with-text .text p {
    font-size: 24px;
}
.icon {
    width: 112px;
    height: 112px;
    min-width: 112px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.icon img {
    max-width: 60px;
}
.icon::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: linear-gradient(90deg, #445DF4 0%, #DA5870 100%);
    mask: radial-gradient(farthest-side, transparent calc(100% - 2px), #000 calc(100% - 1px));
    z-index: -1;
}

.text h4 {
    color: #fff;
    font-family: 'Helvetica Neue';
    margin: 0;
    font-size: 32px;
    line-height: 140%;
    letter-spacing: -0.02em;
    font-weight: 400;
}

.text p {
    font-size: 20px;
}

.text-img-content .icon-with-text {
    margin-top: 32px;
}

.btm-content {
    margin-top: 64px;
}
.btm-content p {
    text-align: center;
    font-size: 32px;
    line-height: 140%;
    letter-spacing: -0.02em;
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
}
/* text-img-sec end  */
/* diy-pro start  */    
.diy-pro {
    padding: 64px 0 124px;
}

.diy-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
}
.diy-pro .section-title {
    max-width: 850px;
    margin-inline: auto;
}
.diy-pro .sub-title {
    width: 100%;
    max-width: 1050px;
    margin-inline: auto;
}
.diy-products .icon-with-text {
    background: linear-gradient(0deg, #171323 0%, #0D0A19 100%);
    padding: 52px;
    border: 1px solid rgb(255 255 255 / 10%);
    border-radius: 8px;
}
/* diy-pro end  */
/* ai-powered-cameras start  */
.ai-powered-cameras {
    background: #fff;
    padding-bottom: 84px;
}
.ai-powered-cameras .section-title {
    font-size: 84px;
}
.advance-ai-feature {
    margin-top: 84px;
}
.ai-powered-cameras .vertical-feature-card-container {
    padding: 64px 0;
}
.ai-powered-cameras-img {
    margin-bottom: -120px;
}
.ai-powered-cameras-img img {
    width: 100%;
}
/* .ai-powered-cameras-img::after {
    content: "";
    position: absolute;
    background: linear-gradient(0deg, #fff, transparent);
    filter: blur(20px);
    height: 30%;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
} */
.ai-powered-cameras .advance-ai-feature .section-title {
    text-align: center;
    font-size: 44px;
    font-weight: 400;
    margin: 30px 0;
}
.ai-camera-content {
    display: grid;
    grid-gap: 32px;
    width: 100%;
    max-width: 1030px;
    margin-inline: auto;
}
.ai-camera-content > h3 {
    text-align: center;
    font-size: 32px;
    line-height: 140%;
    letter-spacing: -0.02em;
    font-weight: 400;
}
.ai-powered-cameras .btm-content {
    margin: 0;
}
.ai-powered-cameras .btm-content h3 {
    text-align: center;
    font-size: 32px;
    line-height: 140%;
    letter-spacing: -0.02em;
    font-weight: 400;
    width: 100%;
    max-width: 1000px;
    margin-inline: auto;
}
.ai-powered-cameras p {
    text-align: center;
    color: var(--black);
}
.vertical-feature-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    row-gap: 32px;
}

.vertical-feature-card {
    width: calc(100% / 4 - 24px);
    text-align: center;
}
.vertical-feature-card .icon {
    margin-bottom: 30px;
}
.vertical-feature-card .text-content h4{
  font-size: 32px;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 400;
}
.vertical-feature-card .text-content p {
    font-size: 20px;
}
/* ai-powered-cameras end  */
/* modular-scalable start  */
.modular-scalable {
    padding: 124px 0;
}
.modular-scalable .text-img-content .sub-title:not(:last-child) {
    margin-bottom: 64px;
}
.modular-scalable .text-img-content {
    width: 100%;
    max-width: 565px;
    margin: 0 auto;
}

.sec-sticky {
    position: sticky;
    top: 20px;
}

.text-img-content h3.section-title {
    font-size: 44px;
    margin: 50px 0;
}
/* modular-scalable end  */

/* smart-doors styling start */
.smart-doors {
    background: #fff;
}

.smart-doors .section-title {
    max-width: 470px;
    margin-inline: auto;
}


.top_box p {
    color: var(--black);
    margin: 32px 0;
    max-width: 1200px;
    font-size: 24px;
    font-weight: 400;
}
.top_box p:last-child {
    margin-bottom: 0;
}

.button_add {
    padding: 24px 55px;
    color: #fff;
    background: var(--black);
    font-size: 18px;
    line-height: 20px;
font-family: 'Helvetica Neue';
    font-weight: 300;
}

.top_box {
    background-color: #fff;
    padding: 84px;
    text-align: center;
    position: relative;
    width: 100%;
    max-width: 1080px;
    margin: -200px auto 0;
    box-shadow: 0px 32px 124px 0px #0000000D;
    border-radius: 12px;
}

.smart-doors .container {
    padding-bottom: 124px;
}

.smart-doors .vertical-feature-card-container {
    margin-top: 80px;
}

.smart-doors .vertical-feature-card {
    width: calc(100% / 3 - 24px);
}
.smart-doors .text-content p {
    color: var(--black);
}
/* smart-doors styling end */
/* smart-sensons  start  */
.smart-sensons .section-title {
    max-width: 100%;
}
.smart-sensons-features {
    position: relative;
}
.smart-sensons-features-list ul {
    display: grid;
    gap: 32px;
    text-align: center;
}
.smart-sensons-features-list ul li p {
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -0.02em;
    font-weight: 400;
    margin-top: 10px;
    display: none;
}
.smart-sensons-features-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.smart-sensons-features-list li span {
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -0.02em;
    font-weight: 400;
    color: #171325;
    background: #ffffff;
    border-radius: 124px;
    opacity: 0.3;
    padding: 8px 24px 8px 24px;
    cursor: pointer;
}

.smart-sensons-features-list li:last-child span {
    opacity: 0.1;
}
.smart-sensons-features-list li:nth-last-child(2) span {
    opacity: 0.2;
}
.smart-sensons-features-list li.active span {
    opacity: 1;
    color: #fff;
    background: linear-gradient(90deg, rgba(68, 93, 244, 1) 0%, rgba(218, 88, 112, 1) 100%);
}

.smart-sensons-features  img {
    width: 100%;
}
/* smart-sensons  end  */
/* effortless-security start  */
.effortless-security {
    padding: 124px 0;
}
.effortless-security .grid {
    align-items: center;
}
.effortless-security .section-title {
    background: linear-gradient(84.47deg, #595661 0.21%, #FFFFFF 43.01%, #363149 85.81%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 84px;
}
.effortless-security .text-img-content {
    margin-left: auto;
    max-width: 740px;
}
.effortless-security .sub-title {
    max-width: 660px;
}
/* effortless-security end  */

/* connect internal page start  */
.internal-page .site-banner .container {
    margin: 0 auto;
}

.internal-page .banner-img {
    position: absolute;
    right: 0;
    top: 0;
    width: 50vw;
}

.internal-page .banner-img img {
    margin-left: -160px;
}

.banner-content h1 span {
    background: linear-gradient(84.47deg, #595661 0.21%, #FFFFFF 43.01%, #363149 85.81%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.banner-content h3 {
    font-size: 32px;
    line-height: 140%;
    letter-spacing: -0.02em;
    font-weight: 400;
    color: #fff;
    width: 100%;
    max-width: 670px;
    margin-bottom: 24px;
}

.banner-content > span {
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -0.02em;
    font-weight: 300;
    color: rgb(255 255 255 / 50%);
    display: block;
    max-width: 690px;
}
.vertical-common-layout {
    padding-bottom: 64px;
    display: grid;
    gap: 64px;
}
.vertical-common-layout .text-img-sec .grid {
    align-items: center;
}
.vertical-common-layout .text-img-sec:nth-child(even) .grid .item:last-child {
    grid-area: 1;
}
.vertical-common-layout .text-img-sec:nth-child(odd) .text-img-content {
    margin-left: auto;
}
.btn-details {
    text-align: center;
    margin: 64px 0;
}

/* comparison section start  */
.network-comparison {
    background: #fff;
    padding: 84px 0 0;
}
  
  .comparison-header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 44px;
    gap: 15px;
}
  
  .comparison-header h2 {
    flex: 1;
    margin: 0;
    font-size: 24px;
  }
  .comparison-header .section-title {
    font-size: 64px;
    line-height: 120%;
    letter-spacing: -0.02em;
    font-weight: 300;
}

  .comparison-header h2:last-child {
    color:var(--black);
  }
  
  .comparison-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 4px;
    border-radius: 8px;
    position: relative;
    background: linear-gradient(
    0deg,
    rgba(23, 19, 35, 1) 0%,
    rgba(13, 10, 25, 1) 100%
  );
  overflow: hidden;
}
.comparison-row:last-child {
    margin: 0;
}
  
.comparison-row > div {
    padding: 32px 84px;
}
  
  .left {
    color: #fff;
    background-image: linear-gradient(90deg, rgba(68, 93, 244, 1) 0%, rgba(218, 88, 112, 1) 100%);
 }
  
 .right {
    color: var(--black);
    background: linear-gradient(
    84.47deg,
    rgba(89, 86, 97, 0.2) 0%,
    rgba(255, 255, 255, 0) 50%,
    rgba(54, 49, 73, 0.5) 100%
  );
}

.comparison-row .left, .comparison-row .right {
    display: flex;
    align-items: center;
    justify-content: center;
}
.network-comparison p {
    color: #fff;
}
.comparison-row .right p {
    max-width: 400px;
    margin: 0 auto;
    text-wrap: balance;
}
.network-comparison .vs {
    padding: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.vs span {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #ffffff40;
}
  
/* comparison section end  */


.vertical-common-layout.resverse-columns .text-img-sec:nth-child(even) .grid .item:last-child {
    grid-area: auto;
}
.vertical-common-layout.resverse-columns .text-img-sec:nth-child(odd) .grid .item:last-child {
    grid-area: 1;
}
.text-img-content .sub-title mark {
    background: transparent;
    padding: 0;
    color: #da5870;
    font-weight: 500;
}
.text-img-content .sub-title em {
    font-weight: 500;
}
.text-img-content > span {
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -0.02em;
    font-weight: 300;
    color: rgb(255 255 255 / 50%);
}

.vertical-common-layout.resverse-columns .text-img-sec:nth-child(odd) .text-img-content {
    margin-left: 0;
}
.vertical-common-layout.resverse-columns .text-img-sec:nth-child(even) .text-img-content {
    margin-left: auto;
}
.text-img-sec .gray-graditent {
    background: linear-gradient(84.47deg, #595661 0.21%, #FFFFFF 43.01%, #363149 85.81%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 84px;
}
/* connect internal page end  */